* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: RGB(33, 37, 41);
  color: white;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  cursor: pointer;
  color: white;
}

.card {
  color: black;
}

.card-body {
  overflow-y: auto;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

textarea {
  height: 150px;
}

.tab-menu {
  display: flex;
}

.tab-menu .material-icons {
  margin-right: 20px;
}

input:focus,
textarea:focus {
  outline: 1px solid #0d6efd;
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.notes-list__empty-message {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.notes-list__empty-message .material-icons {
  font-size: 200px;
}

.card-header .card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.card-header .card-text {
  font-size: 12px;
  /* margin-bottom: 8px; */
  color: #aaa;
}

.note-item__action {
  text-align: right;
}
